<?xml version="1.0" encoding="UTF-8"?>
<!-- Example LOGBACK Configuration File http://logback.qos.ch/manual/configuration.html -->
<configuration scan="true" scanPeriod="30 seconds">
	<contextName>xultimate-crawler</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date [%contextName] %level [%thread] %logger [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="SIFT_CRAWLER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${project.build.directory}/logs/${CONTEXT_NAME}-crawler.log
		</file>
		<!-- Support multiple-JVM writing to the same log file -->
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${project.build.directory}/logs/${CONTEXT_NAME}-crawler.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 14 days' worth of history -->
			<maxHistory>14</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%date [%contextName] %level [%thread] %logger [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="SIFT_LINKBASE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${project.build.directory}/logs/${CONTEXT_NAME}-linkbase.log
		</file>
		<!-- Support multiple-JVM writing to the same log file -->
		<prudent>true</prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- daily rollover -->
			<fileNamePattern>${project.build.directory}/logs/${CONTEXT_NAME}-linkbase.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<!-- keep 14 days' worth of history -->
			<maxHistory>14</maxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%date [%contextName] %level [%thread] %logger [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="linkbase" level="INFO">
		<appender-ref ref="SIFT_LINKBASE" />
	</logger>

	<logger name="org.danielli.xultimate.crawler" level="INFO">
		<appender-ref ref="SIFT_CRAWLER" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>